<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>
<body>
    <h1>Welcome to the Pantry</h1>
    <% if (foods.length !== 0) { %>
        <ul>
            <% foods.forEach(food => { %>
                <li><%= food.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>There's nothing in this pantry.</p>
    <% } %>
    <a href="/users/<%= user._id %>/foods/new">Add food</a>
</body>
</html>