<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Food</title>
  </head>
  <body>
    <h1>Create a new food</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <button type="submit">Add food</button>
    </form>
  </body>
</html>
